/* сбросы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend", "Noto Sans", sans-serif;
  background: #181711;
  color: #fff;
}

/* flex-структура */
.container {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.p-4 {
  padding: 1rem;
}

/* наши утилиты */
.max-w-\[960px\] {
  max-width: 960px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
